{% load static %}
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand fs-6" href="#">
            <img src="{% static 'img/logo.png' %}" alt="Logo" width="75" height="50"
                 class="d-inline-block align-text-center">
            &nbsp; &nbsp; Let Us Dream | Conference Management Toolkit
        </a>
        <form class="d-flex" role="search">
            <a class="btn btn-sm btn-outline-success" type="submit">
                <i class="fa-solid fa-right-to-bracket"></i>
                Login
            </a>
        </form>
    </div>
</nav>