{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="row m-auto py-3">
        <div class="col-12 fs-6 fw-bold text-center mb-3">
            Conference #{{ conference.pk }} <br/>
            <hr/>
        </div>
        <div class="col-12">

            <div class="row">
                <div class="col-4">
                    {% if conference_details.conference_banner %}
                        <img src="{{ conference_details.conference_banner.url }}" class="img-fluid" alt="...">
                    {% endif %}
                </div>
                <div class="col-8">
                    <div>
                        {{ conference.title }}
                    </div>
                    <div>
                        {% if conference_details.conference_theme %}
                            {{ conference_details.conference_theme }}
                        {% endif %}
                    </div>
                    <div>
                        {% if conference_details.conference_description %}
                            {{ conference_details.conference_description }}
                        {% endif %}
                    </div>
                    <div>
                        {{ conference.location }} | {{ conference.venue }}
                    </div>
                    <div>
                        {{ conference.start_date }} - {{ conference.end_date }}
                    </div>
                    <div>
                        Contact People: <br/>
                        <i class="fa-regular fa-envelope"></i> {{ conference.organizer1 }} <br/>
                        <i class="fa-regular fa-envelope"></i> {{ conference.organizer2 }} <br/>
                        <i class="fa-regular fa-envelope"></i> {{ conference.organizer3 }}
                    </div>
                    {% if conference_details.conference_brochure %}
                        <a href="{{ conference_details.conference_brochure.url }}" target="_blank"
                           class="text-decoration-none">
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                            Conference Brochure
                        </a>
                    {% endif %}
                    <div>
                        <small>
                            {{ conference.created_at|timesince }}
                        </small>
                    </div>
                </div>
            </div>

            <div class="col-12 d-flex justify-content-around mt-4">
                <a class="btn btn-success text-decoration-none"
                   href="{% url 'admin_conference_update' conference.conference_id %}">
                    Participate
                </a>
            </div>
        </div>
    </div>

{% endblock content %}